# Compiled sibs files
sibs-build/
compile_commands.json
tests/sibs-build/
tests/compile_commands.json

external/wlr-export-dmabuf-unstable-v1-client-protocol.h
external/wlr-export-dmabuf-unstable-v1-protocol.c

*.o

.clangd/
build/
gpu-screen-recorder-gtk
